@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------- VARIABLES -------------- */
:root {
    --body-color: #2a364f;
    --text-color: #fff;
    --box-shadow-1: 2px 2px #ffffff,
        2px 2px #ffffff;
    --box-shadow-2: -3px 3px #ffffff,
        -3px 3px #ffffff;
    --border: 1px solid #ffffff;
    --body-border: 3px solid #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    /* height: 100vh; */
    /* border: var(--body-border); */
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-color);
    overflow-x: hidden;

}


/* ===================  HAMBURGER MENU ======================  */


.options__container {
    height: 2.8rem;
    width: 2.8rem;
    border: var(--border);
    position: absolute;
    top: 2rem;
    right: 2rem;
    box-shadow: var(--box-shadow-1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.9rem;

}

i {
    color: var(--text-color);
}

/* ===================  TOOLS CONTAINER ======================  */

.tools__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem auto;
    padding: .5rem;
    position: absolute;
    top: .5rem;
    left: 5%;
    box-shadow: var(--box-shadow-1);
    border: var(--border);
    /* border-radius: 5px; */
    background: linear-gradient(135deg, #fffcfc52,
            #f9f9f952);
    backdrop-filter: blur(3px);


}


.scale__tools {
    animation: scale__tools;
    animation-duration: 1s;
}

@keyframes scale__tools {
    0% {
        transform: scale(0.1);
    }

    100% {
        transform: scale(1);
    }
}

.tools__image {
    height: 35px;
    width: 35px;
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.tools__image:hover{
    box-shadow: var(--box-shadow-1);

}

.tools__image img {
    height: 90%;
    width: 90%;
}


/* ===================  PEN TOOLS  ======================  */

.pen__tool__container {
    /* width: 70px; */
    border: 2px solid #fff;
    position: absolute;
    top: 5em;
    left: 4%;
    box-shadow: var(--box-shadow-1);
    border-radius: 5px;
    display: none;
}

.pen__width__container {
    background-color: orange;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #ccc;
}

.pen__width__container input {
    width: 80%;
    cursor: pointer;
}

.pen__color__container {
    background: linear-gradient(135deg, #fffcfc52,
            #f9f9f952);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;

}



input[type=color] {
    width: 25px;
    height: 25px;
    overflow: hidden;
    border: none;
    border: var(--border);
    outline: none;
    cursor: pointer;
}


/* ===================  ERASER TOOLS  ======================  */


.eraser__tool__container {
    /* width: 70px; */
    height: 40px;
    border: 1px solid #fff;
    position: absolute;
    top: 5em;
    left: 15%;
    box-shadow: var(--box-shadow-1);
    border-radius: 5px;
    /* transform: rotate(-90deg); */
    display: none;
    background-color: #ccc;
}

.eraser {
    width: 100%;
    height: 100%;
    cursor: pointer;
}


.refresh__image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(200, 10, 238);
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: grid;
    place-items: center;
    background-color: #ccc;
    cursor: pointer;
    box-shadow: -5px -5px 15px #ffffff70,
                  5px 5px 15px #000000,
                  -5px 5px 15px #000000;
}

.refresh__image img{
    width: 30px;
    height: 30px;
}


/* =================== STICKY NOTES ====================== */

.sticky__container {
    height: 15rem;
    width: 15rem;
   
    
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: auto;
}
.header__container{
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: var(--border);
    box-shadow: -2px 3px #fff,
                2px 3px #fff;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);

}

.header__container > * {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;

}

.minimize{
    background-color: #0fe80fe3;
    margin-right: .5rem;
   
   
}
.remove{
    background-color: #ff0000dd;
    margin-right: .5rem;
}

.note__container{
    height: calc(100% - 2rem);
}


textarea{
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    outline: none;
    border-top:1px solid #fff;
    color: rgb(21, 243, 143);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    resize: none;
}


img{
    height: 100%;
    width: 100%;
}




/* ------------------ MEDIA QUIRES -------------- */
/* 
@media only screen and (max-width:768px) {
    body {
        overflow: hidden;
    }

    .options__container {
        position: absolute;
        top: 48rem;
        right: 2rem;

    }
    .tools__container{
        width: 90%;
    }
    .tools__image {
        margin: auto;
    }
}


@media only screen and (max-width:540px) {
    body {
        overflow: hidden;
    }

    .options__container {
        position: absolute;
        top: 39rem;
        right: 2rem;

    }
    .tools__container{
        width: 90%;
    }
    .tools__image {
        margin: auto;
    }
}


@media only screen and (max-width:320px) {
    body {
        overflow: hidden;
    }

    .options__container {
        position: absolute;
        top: 38rem;
        right:1rem;
        height: 1.5rem;
        width: 1.5rem;
        font-size: 1rem;

    }
    .tools__container{
        width: 90%;
    }
    .tools__image {
        margin: auto;
    }
} */